<li>
	{{#if devoured}}
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}NOT DEVOURED{{/if}}
	</button>
	{{else}}
	{{burger_name}}
	{{/if}}
</li>